In [2]:
from make_fake_companies import Company

In [3]:
company = Company()

In [4]:
import pandas as pd

pd.DataFrame(
    company.MakeFakePayroll()
)

,Employee ID,First Name,Last Name,Date Of Birth,Phone Number,Address,City,State,Zip Code,Hire Date,Salary,Department
0,4763951,Daniel,Chambers,09/27/1983,1-786-468-4333,81342 Robert Drives,Stephenstad,CT,89676,08/02/2009,93470.37,IT
1,1016072,Chad,Odonnell,07/21/1960,(215) 316-1762,69079 Kristy Canyon Suite 851,Yuba City,CT,89676,03/31/2002,92324.31,Management
2,3533606,Robert,Huffman,10/30/1992,(583) 729-3649,67473 Samantha Station,Stephenstad,CT,06350,05/04/2017,97910.76,Accounting
3,8596733,David,Johnson,08/08/1965,+1-(992)-512-7720,38147 Gibson Creek,New Kimberly,CT,06301,02/23/2007,105618.51,Management
4,444055,Sarah,Douglas,03/21/1967,(141) 480-7079,4527 Brooke Row,Stephenstad,CT,06134,10/20/2006,82811.42,Accounting
...,...,...,...,...,...,...,...,...,...,...,...,...
221,4985489,Alan,Fernandez,09/11/1964,(262) 598-7593,95180 Melanie Inlet Apt. 272,Stephenstad,CT,06353,06/02/2021,73014.59,IT
222,6380244,Jill,Richardson,09/22/1968,265-601-0065,0722 Martin Port Apt. 106,South Taylormouth,CT,06002,01/23/2015,78395.89,Marketing
223,2251709,Mark,Farrell,12/16/1985,267-767-1777,6070 Carrie Spur Apt. 792,Stephenstad,CT,06334,09/22/2011,68376.35,Accounting
224,171300,Victoria,Jones,04/28/1980,1-329-730-2590,26222 Michael Corner,Stephenstad,CT,89676,06/09/2021,102743.84,Sales
225,5553436,Colleen,Nolan,07/28/1988,410.034.4251,9256 Kenneth Walks Apt. 131,Port Kristastad,CT,06246,05/31/2010,52398.20,Accounting