In [10]:
from Make_FakeCompany   import FakeCompany, fake, phony

In [2]:
from Make_FakeRestaurant import FakeRestaurant

In [3]:
fake_restaurant = FakeRestaurant()
fake_restaurant

Name: The Driver Knife
Category: Restaurant
Domain: The-Driver-Knife.net
# of Employees: 72
# of Customers: 116
# of Inventory Items: 692
City:  Webstermouth
State: RI
Zip Code: 02893
Departments: [
   'Management',
   'Bar Staff',
   'Wait Staff',
   'Kitchen Staff',
]
Employee Attributes: [
   'Employee ID',
   'First Name',
   'Last Name',
   'Email',
   'Date Of Birth',
   'SSN',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Hire Date',
   'Salary',
   'Department',
]
Customer Attributes: [
   'Customer ID',
   'First Name',
   'Last Name',
   'Card Provider',
   'Card Number',
   'CVV',
   'Expiration Date',
]
Inventory Attributes: [
   'Product ID',
    'Product',
    'Product Quantity',
    'Unit',
    'Cost Per Unit',
]

In [4]:
fake_inventory = fake_restaurant.MakeFakeInventory()['As_DataFrame']
fake_inventory

    Product ID               Product  Product Quantity  Unit  Cost Per Unit
0         CB13    Pickling Cucumbers                 6  Lbs.           3.82
1         RB69     Dwarf dangleberry                11  Lbs.           2.50
2         1OCI          Napa Cabbage                50  Lbs.           2.25
3         TB16             Hippophae                48  Lbs.           1.03
4         5LBJ  Myrciaria floribunda                50  Lbs.           2.68
..         ...                   ...               ...   ...            ...
687       0XAO              Eggplant                39  Lbs.           7.44
688       0KOU              Bok Choi                33  Lbs.           4.71
689       AB76         Daikon Radish                 7  Lbs.           2.03
690       KB42             Artemisia                50  Lbs.           1.91
691       1QUN               Sultana                32  Lbs.           7.30

[692 rows x 5 columns]

In [5]:
fake_employees = fake_restaurant.MakeFakeEmployees()['As_DataFrame']
fake_employees

,Employee ID,First Name,Last Name,Email,Date Of Birth,SSN,Phone Number,Address,City,State,Zip Code,Hire Date,Salary,Department
0,1653,Jody,Hill,jody.H@google.com,12/16/1991,355-80-1703,1-912-659-4774,68050 Laura Mountain Apt. 501,Webstermouth,RI,02807,12/07/2017,70318.37,Wait Staff
1,2849,Harold,Martin,advertise1959@example.com,02/21/1996,421-19-3202,834.960.4528,391 Samantha Course,Euless,RI,02924,01/25/2017,74049.56,Wait Staff
2,0311,Kaylee,Conner,beer2089@live.com,10/23/1995,085-55-6175,1-329-358-8972,01939 Ponce Falls,Jasonshire,RI,02890,03/04/2006,57051.02,Wait Staff
3,2662,Stephanie,Eaton,urban1843@yahoo.com,06/10/1997,560-09-4587,226-412-2788,45825 Andrew Track Apt. 926,Webstermouth,RI,02924,10/24/2017,56929.52,Kitchen Staff
4,2273,Andrew,Williams,arranged1939@yandex.com,01/31/1992,206-39-6224,1-215-774-0106,39842 Stephanie Island,North Amy,RI,02911,01/01/2015,54272.50,Kitchen Staff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,5739,Elizabeth,Davenport,E_D@yahoo.com,07/30/1994,657-96-3997,+1-(020)-091-6898,731 Clark Lights Apt. 176,Webstermouth,RI,02924,07/09/2010,63482.95,Wait Staff
68,1860,Michael,Bell,nearby1932@yandex.com,10/07/1998,533-72-0665,(306) 142-9488,7572 Monica Glens Suite 059,Webstermouth,RI,02924,04/28/2007,70394.63,Bar Staff
69,6025,Brandon,Walters,Bwalters@yahoo.com,01/24/1987,053-32-5242,(288) 701-9005,39382 John Route,Port Faithhaven,RI,02924,12/04/2008,57525.64,Bar Staff
70,7323,Ann,Singh,airfare1950@yandex.com,12/21/1993,279-88-7780,(816) 353-3096,0544 Harrington Estates,Norton Shores,RI,02882,11/23/2011,73782.33,Management
71,3955,Sarah,Smith,sarah.smith@outlook.com,02/08/1992,434-93-4653,469-717-8253,389 Lee Plaza,South Portland,RI,02804,12/29/2011,62203.14,Wait Staff

In [6]:
designated_sales_employees = (        

    fake_employees['Department'] == 'Wait Staff'    

) | (                      

    fake_employees['Department'] == 'Bar Staff'   

)  
designated_sales_employees

0      True
1      True
2      True
3     False
4     False
      ...
67     True
68     True
69     True
70    False
71     True
Name: Department, Length: 72, dtype: bool

In [7]:
fake_sales_employees = fake_employees.loc[
    designated_sales_employees
]

In [8]:
fake_customers = FakeRestaurant().MakeFakeCustomers()['As_DataFrame']
fake_customers

,Customer ID,First Name,Last Name,Card Provider,Card Number,CVV,Expiration Date
0,652762,Tracey,Bray,Visa,4287 4222 7397 5583,360,12/25
1,475473,Kristin,Stone,Discover,4134 1706 6884 5284,852,01/24
2,293261,Sean,Sexton,Discover,3471 959703 67579,713,01/25
3,561693,Ashley,Conway,American Express,2661 9280 0290 8273,371,12/25
4,294215,Cheryl,Dillon,Discover,3412 852388 77307,341,11/28
...,...,...,...,...,...,...,...
111,454094,Douglas,Davis,Chase,2576 5075 8042 4947,907,09/26
112,141903,Jessica,Solomon,Visa,3783 092631 27044,227,08/25
113,107016,Gregory,Roy,American Express,3770 809529 98976,762,01/28
114,463198,Daniel,Jenkins,Discover,4101 2477 0532 0981,281,12/28
115,717262,Douglas,Martin,Visa,5274 4495 7479 3078,874,02/24

In [9]:
FakeRestaurant().MakeFakeTransactions(
    fake_inventory,
    fake_customers,
    fake_sales_employees
 )

,Transaction ID,Customer ID,Employee ID,Menu Item,Main Ingredient,Secondary Ingredient,Payment,Quantity,Payment Date
185,0-00-282301-2,107016,1653,Seven and Seven or 7 & 7,Horseradish,Bean Sprouts,41.37,1,01/10/2020
1,0-00-313001-0,513256,9841,Horilka,Eggplant,Green Onions/Scallions,48.96,2,12/21/2022
73,0-00-459609-9,586881,1625,Maerzen,Ornamental,Lowbush cranberry,23.11,1,03/14/2020
68,0-00-543856-X,717262,3848,Waffle,Green Onions/Scallions,Salad burnet,34.23,1,11/06/2022
322,0-00-963945-4,638538,379,Sloe gin,Daikon Radish,Lowbush cranberry,32.85,4,05/24/2021
...,...,...,...,...,...,...,...,...,...
162,1-9874-5513-4,717262,2839,Gyros,Lime flower,Cilantro,47.51,1,09/16/2022
376,1-989186-87-4,397237,2152,Margherita Pizza,Sassafras,Bacuri,39.19,4,10/30/2021
617,1-991116-55-1,841406,3085,Horilka,Coriander,Peppermint,48.97,4,12/07/2020
469,1-991144-49-0,344249,1610,Satay,Bilberry,Black walnut,51.31,4,08/18/2021
565,1-993858-13-X,141903,3848,Black Russian,Physalis,Jerusalem Artichoke,43.19,4,09/25/2021