In [2]:
from Make_FakeCompany   import FakeCompany

In [3]:
fake_company = FakeCompany()

In [4]:
fake_company

Name: Arnold, Navarro and Porter
Category: Corporation
Domain: Arnold-Navarro-and-Porter.org
# of Employees: 277
# of Customers: 231
# of Inventory Items: 592
City:  South Kevinborough
State: AR
Zip Code: 72373
Departments: [
   'Management',
   'Accounting',
   'Sales',
   'Marketing',
   'Security',
   'IT',
]
Employee Attributes: [
   'Employee ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Date Of Birth',
   'SSN',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Hire Date',
   'Salary',
   'Department',
]
Customer Attributes: [
   'Customer ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Card Provider',
   'Card Number',
   'CVV',
   'Expiration Date',
]
Inventory Attributes: [
   'Stock ID',
    'Product',
    'Year',
    'Price',
    'Stock Quantity',
]

In [5]:
fake_company.MakeFakeEmployees()["As_DataFrame"]

,Employee ID,First Name,Last Name,Email,Username,Password,Date Of Birth,SSN,Phone Number,Address,City,State,Zip Code,Hire Date,Salary,Department
0,1101341,Jason,Marshall,jason.marshall@Arnold-Navarro-and-Porter.org,marshallj,qsi5X$dY%1,05/26/1985,424-83-0051,302.440.7543,93332 Jodi Mews,South Kevinborough,AR,72078,10/12/2000,77556.22,Accounting
1,4098432,Robert,Vargas,robert.vargas@Arnold-Navarro-and-Porter.org,vargasr,f6HqGZ&J)n,02/16/1960,876-12-0893,1-393-194-0863,2505 Melissa Spring,South Kevinborough,AR,72278,04/02/2000,107238.19,Security
2,1531201,Kevin,Frye,kevin.frye@Arnold-Navarro-and-Porter.org,fryek,MO5D*ibW%(,12/19/1988,362-72-0195,+1-(837)-481-1653,484 Bryan Glens,South Kevinborough,AR,72420,08/24/2016,96023.19,IT
3,8358758,Matthew,Johnson,matthew.johnson@Arnold-Navarro-and-Porter.org,johnsonm,&^4CZx3v*A,03/31/1970,643-36-9961,1-697-169-8661,8938 Carter Isle Apt. 812,South Kevinborough,AR,71973,03/11/2017,60211.84,Sales
4,7855948,Keith,Lee,keith.lee@Arnold-Navarro-and-Porter.org,leek,Y^($zYiN+0,10/10/1961,035-76-3884,1-143-249-9453,568 Thomas Burg Suite 912,Calumet City,AR,72373,10/02/2014,72242.25,Management
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,8120943,Aaron,Harris,aaron.harris@Arnold-Navarro-and-Porter.org,harrisa,_M2NbH)sHX,05/11/1981,440-48-6370,1-146-247-1049,9775 Jennifer Lakes,North Anne,AR,71922,05/30/2003,74397.19,Security
273,1712493,Christina,Murphy,christina.murphy@Arnold-Navarro-and-Porter.org,murphyc,7AIJw_nn#p,01/14/1974,701-43-6377,+1-(740)-331-3985,906 Kim Harbor Apt. 922,Cottonwood Heights,AR,72373,06/28/2018,106249.25,IT
274,2102232,John,Pena,john.pena@Arnold-Navarro-and-Porter.org,penaj,%(H9u6EX2U,09/19/1981,255-44-4051,(042) 901-4922,01403 Tina Light,South Kevinborough,AR,72297,02/20/2008,71159.45,Marketing
275,5496857,Patricia,Barr,patricia.barr@Arnold-Navarro-and-Porter.org,barrp,Doc0WQb&1(,12/14/1991,255-50-4238,163-772-5917,9032 Robin Rapids,South Kevinborough,AR,72943,11/25/2011,84090.71,IT
276,6637691,Elizabeth,Fitzgerald,elizabeth.fitzgerald@Arnold-Navarro-and-Porter...,fitzgeralde,j2N@gg+p_1,10/07/1969,089-95-9854,1-192-380-6502,41452 Pitts Brook Suite 292,Lake Jessica,AR,72581,10/14/2000,80301.40,IT

In [6]:
fake_company.MakeFakeCustomers()["As_DataFrame"]

,Customer ID,First Name,Last Name,Email,Username,Password,Phone Number,Address,City,State,Zip Code,Card Provider,Card Number,CVV,Expiration Date
0,6952,Lisa,Parks,dig2062@yahoo.com,parksl,w.7h|BnU,624.935.4147,80617 Lisa Expressway Apt. 692,Vernon Hills,AR,72373,Visa,5362 8377 8551 4916,209,06/27
1,3029,Lisa,Fuller,guidance1886@gmail.com,fullerl,/hj]kmOf,027.227.3356,366 Alyssa Rest,South Kevinborough,AR,72873,American Express,3465 787649 82391,232,04/26
2,4216,Robert,Yu,toxic1886@yahoo.com,yur,|ePTy*nw,499.775.0077,821 Mcdaniel Ramp,South Kevinborough,AR,72373,MasterCard,3469 372096 75632,844,09/25
3,7982,Stacy,Lyons,unnecessary1866@yahoo.com,lyonss,U~-6:+i*,(340) 138-4906,188 Ashley Island,Neenah,AR,72764,Discover,2248 6344 9748 5114,035,11/24
4,6872,Joseph,Romero,tip2086@yahoo.com,romeroj,n'Br|oD-,623.219.8050,4344 Sabrina Fall Apt. 118,Lake Brendaborough,AR,72444,Discover,2292 0090 6318 7565,229,04/23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,4889,Timothy,Lee,memories1850@outlook.com,leet,3K>TBI.i,391.872.2838,8247 Angela Underpass Apt. 391,New Seanshire,AR,72552,Visa,5150 5407 0483 2569,595,09/24
227,9306,Bryce,Davis,learn2007@outlook.com,davisb,colleen48,(889) 290-0807,99505 Marvin Corner,Reynoldsborough,AR,72068,MasterCard,3429 458539 72712,335,03/27
228,5167,Jack,Meyer,anyway1840@outlook.com,meyerj,raw_2093,+1-(381)-069-8708,793 Hess Junctions Apt. 130,Obrienland,AR,71919,MasterCard,2589 5355 1978 6594,539,06/26
229,1086,Richard,Larson,webpage1843@gmail.com,larsonr,danielle65,561.021.9375,97025 Donna Park,South Kevinborough,AR,71654,Visa,3414 834539 07756,490,09/28
230,3215,Jacob,Foster,nbc1951@yahoo.com,fosterj,vincenthernandez,1-005-106-7944,25924 Acosta Mission Apt. 582,South Kevinborough,AR,72506,MasterCard,3720 484509 23700,552,06/28

In [7]:
fake_company.MakeFakeInventory()["As_DataFrame"]

,Stock ID,Product,Year,Price,Stock Quantity
0,21DFBQ9,Dynapac CA602D (Hydraulic Excavator),2003,915.19,5
1,B63UWLJ,Massey Ferguson 865,2013,441.24,57
2,GB24LDQ,Dacia Responsible,2008,385.30,36
3,B75TBTU,Scat Trak 1750D,2002,1064.74,39
4,GB43EKN,Chevrolet Analog,2010,366.93,38
...,...,...,...,...,...
587,GB90WKD,Yanmar Vio75-A,2002,623.40,69
588,GB18HCN,Samsung Galaxy R,2000,577.75,58
589,16XFLD9,Case IH Maxxum 140 PRO,2018,789.50,68
590,49JLQC8,Caterpillar Symbols Afghanistan (Hydraulic Exc...,2016,129.05,27
591,B18OUVI,John Deere 824J Z-Bar,2017,166.88,58

In [8]:
fake_company.MakeFakeTransactions(

        fake_company.MakeFakeInventory()["As_DataFrame"],
        fake_company.MakeFakeCustomers()["As_DataFrame"] 

)

,Transaction ID,Product Sold,Product ID,Customer ID,Customer Name,Customer Address,Card Number,Card Provider,Payment,Quantity Sold,Payment Date
188,0-00-231679-X,Kubota Dead App (Wheel Loader),B28AFNF,1696,Julie Beck,"069 Thornton Unions, South Kevinborough, AR 72435",3712 019272 33952,American Express,613.64,3.0,05/30/2020
5,0-00-556544-8,Krause Smoke Height (Hydraulic Excavator),16VSQD6,2704,Anthony Gilbert,"8799 Kirby Summit Apt. 668, South Kevinborough...",2605 8155 4734 8223,Visa,175.04,1.0,02/08/2021
156,0-01-198198-9,JCB JS330LC,B35JCEY,7693,Timothy Sandoval,"3898 Amanda Motorway Apt. 751, Flynnbury, AR 7...",4971 8748 7076 4581,American Express,25.99,1.0,11/30/2020
194,0-01-359580-6,Maserati Post,B35FLFN,2022,Gregory Jackson,"629 Spears Throughway Apt. 742, New Brandonbur...",3745 263072 72346,Chase,559.55,4.0,11/26/2022
0,0-02-131729-1,SsangYong Their,42YIVP8,8194,James Thomas,"05436 Smith Underpass Apt. 625, Greer, AR 72058",4593 9466 4367 0689,Visa,88.89,4.0,12/15/2021
...,...,...,...,...,...,...,...,...,...,...,...
213,1-952894-48-4,Case Tokyo Musical (Hydraulic Excavator),B77AYAR,3043,Michele Lloyd,"8564 Webb Springs Apt. 024, Cuyahoga Falls, AR...",4043 1183 1725 8169,American Express,625.60,1.0,04/09/2021
56,1-964265-03-7,Kubota Keyword Worse (4WD Tractor),39JQSX8,2380,Janet Willis,"6663 Park Mountains Apt. 597, South Kevinborou...",4258 2219 4646 2705,Discover,770.29,1.0,06/27/2022
228,1-966611-82-X,Kubota L39,GB66TCR,3992,Jennifer Taylor,"5408 Joseph Roads, Johnsonmouth, AR 72248",3750 490887 12421,MasterCard,719.35,2.0,11/20/2022
220,1-9867-8733-8,Samsung SGH-G600,B88GNNH,8116,Hannah Guerra,"7906 Kaitlyn Gardens, South Kevinborough, AR 7...",5230 0057 9982 2473,Chase,324.38,2.0,05/27/2021
101,1-997084-30-9,Abarth Lung,B95QFAE,1562,James Miller,"81814 Barber Village Suite 323, Baldwin, AR 72804",4738 9393 1381 4535,American Express,157.27,1.0,01/16/2020