In [7]:
from Make_FakeCompany   import FakeCompany

In [13]:
params = {
    'name':'SMRC',
    'employee_size':150,
    'inventory_size':35,
}
fake_company = FakeCompany(**params)

In [14]:
fake_company

Name: SMRC
Category: Limited Liability Company
Domain: SMRC.net
# of Employees: 150
# of Customers: 201
# of Inventory Items: 35
City:  Port Robert
State: SD
Zip Code: 57527
Departments: [
   'Management',
   'Accounting',
   'Sales',
   'Marketing',
   'Security',
   'IT',
]
Employee Attributes: [
   'Employee ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Date Of Birth',
   'SSN',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Hire Date',
   'Salary',
   'Department',
]
Customer Attributes: [
   'Customer ID',
   'First Name',
   'Last Name',
   'Email',
   'Username',
   'Password',
   'Phone Number',
   'Address',
   'City',
   'State',
   'Zip Code',
   'Card Provider',
   'Card Number',
   'CVV',
   'Expiration Date',
]
Inventory Attributes: [
   'Stock ID',
    'Product',
    'Year',
    'Price',
    'Stock Quantity',
]

In [4]:
fake_company.MakeFakeEmployees()["As_DataFrame"]

,Employee ID,First Name,Last Name,Email,Username,Password,Date Of Birth,SSN,Phone Number,Address,City,State,Zip Code,Hire Date,Salary,Department
0,6415000,Jamie,Jones,jamie.jones@Hinton-Gomez-and-Gonzalez.org,jonesj,_Y3Fwra2DJ,06/11/1965,013-25-1327,1-015-563-0867,0218 Bryce Forges,East Miguelland,KY,40255,08/01/2004,64594.11,Security
1,3376908,Melissa,Bass,melissa.bass@Hinton-Gomez-and-Gonzalez.org,bassm,%j1N%5qO)&,08/31/1971,670-17-9866,(665) 560-5499,69637 Regina Greens,Brownsburg,KY,42637,05/09/2000,111705.34,Sales
2,7728866,Alexander,Willis,alexander.willis@Hinton-Gomez-and-Gonzalez.org,willisa,^8GQa(0Sw2,10/11/1972,614-24-7780,(595) 125-9053,7889 Julie Rapid,North Miami,KY,40947,04/16/2010,116748.73,Security
3,3563502,Travis,Austin,travis.austin@Hinton-Gomez-and-Gonzalez.org,austint,hl2FVwlGx+,11/06/1979,092-66-9833,(976) 847-6844,8112 Jillian Wall Suite 985,Santa Maria,KY,42153,11/06/2013,87897.34,Sales
4,6064138,Daniel,Mcguire,daniel.mcguire@Hinton-Gomez-and-Gonzalez.org,mcguired,+1dRnlUGem,07/13/1975,076-44-9558,031.756.4286,66248 Michelle Branch,Ceres,KY,42153,10/27/2016,93896.71,Security
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,1095774,Michael,Reid,michael.reid@Hinton-Gomez-and-Gonzalez.org,reidm,+wr4rIFyuM,12/30/1974,564-21-8899,153.122.7338,57648 Castillo Summit,East Miguelland,KY,41738,10/15/2000,121354.57,Management
398,7653952,Brent,Stein,brent.stein@Hinton-Gomez-and-Gonzalez.org,steinb,hJ_X2WEl+_,03/20/1978,772-84-8335,(822) 963-9704,3169 Eric Ports,Lake Terri,KY,40639,04/22/2019,100404.41,Management
399,6663873,Rodney,Nelson,rodney.nelson@Hinton-Gomez-and-Gonzalez.org,nelsonr,&Pl0DShd6Y,03/20/1967,208-58-5981,044-327-5424,534 Rios Crescent Suite 148,East Miguelland,KY,40740,06/29/2022,57697.60,Security
400,7614459,Christopher,Kirk,christopher.kirk@Hinton-Gomez-and-Gonzalez.org,kirkc,H@52LORynl,02/19/1983,503-49-9606,935.049.9301,460 Wilson Island Apt. 028,Loves Park,KY,42153,02/13/2021,55596.26,Marketing
401,3910765,Christina,Johnson,christina.johnson@Hinton-Gomez-and-Gonzalez.org,johnsonc,%7(YNTwX+),01/26/1995,367-25-2935,004-058-2951,7200 Ellis Cove,East Miguelland,KY,41772,10/22/2021,51600.02,Marketing

In [5]:
fake_company.MakeFakeCustomers()["As_DataFrame"]

,Customer ID,First Name,Last Name,Email,Username,Password,Phone Number,Address,City,State,Zip Code,Card Provider,Card Number,CVV,Expiration Date
0,8296,Dawn,Blackburn,darkness2067@hotmail.com,blackburnd,('8BC2_a,(483) 853-5966,6437 Dylan Place Suite 851,East Miguelland,KY,42509,Discover,3449 356331 17108,100,04/28
1,1769,Brooke,Tate,declaration1981@outlook.com,tateb,sections_2074,1-059-429-2137,61299 Tammy Forges,East Miguelland,KY,40764,Discover,3443 490656 72905,854,03/23
2,8078,Jessica,Hall,isle1982@outlook.com,hallj,jewellery_1827,967-138-3464,4441 Martinez Fall,Waukegan,KY,42153,Discover,3777 636513 55370,240,08/28
3,4722,Lisa,Chan,hostel1905@yahoo.com,chanl,rayjennifer,1-933-119-1829,3414 Spencer Mission Apt. 372,East Miguelland,KY,40844,Discover,2539 3566 5222 5634,099,04/25
4,5117,Douglas,Hanna,arrive2083@gmail.com,hannad,excluding_2003,935.106.4365,726 Nicholas Wells,East Miguelland,KY,42153,Chase,2637 7461 2275 9892,808,08/23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,3009,Anthony,Kline,university1998@yahoo.com,klinea,expand_1882,(609) 930-2714,521 Michael Stravenue Suite 560,East Miguelland,KY,42153,Discover,3711 054062 02034,597,07/24
295,3956,Jessica,Arnold,ease2046@outlook.com,arnoldj,m}-_tCf?,537-206-4962,02132 Kelsey Corner Suite 295,East Miguelland,KY,41940,Chase,2692 1564 9694 3308,681,01/23
296,7110,Kristen,Moore,thirty2046@outlook.com,moorek,jerry08,440.718.8485,43738 John Points Suite 344,Desert Hot Springs,KY,40328,Discover,3781 594976 28618,103,08/26
297,7034,Brandon,Henderson,conferencing2009@yahoo.com,hendersonb,hayley93,(390) 488-1790,6963 Mclaughlin Bridge Suite 423,Pacifica,KY,40874,Visa,4817 0171 5418 3361,072,08/23
298,6554,Joseph,Harris,hanging1868@hotmail.com,harrisj,chase_1951,(299) 772-9618,97060 Elizabeth Skyway Apt. 118,Aliso Viejo,KY,40543,Discover,3494 571159 14097,756,07/27

In [6]:
fake_company.MakeFakeInventory()["As_DataFrame"]

    Stock ID                        Product  Year   Price  Stock Quantity
0    62UNPH4            AMD Radeon R9 M485X  2011  736.16              48
1    GB91PNI            Apple iPhone 7 Plus  2003  622.10              33
2    26ZGLK1                       Nexus 6P  2009  497.00              31
3    GB55EYL  John Deere 790E LC Long Front  2007  240.83              18
4    77OUZF2            Samsung Galaxy S II  2001  699.15              28
..       ...                            ...   ...     ...             ...
655  22NEDO0      Samsung Galaxy S III Mini  2013   38.68              70
656  29ZQLD8                Liebherr L507ST  2007  560.40              59
657  53EIZT4                        Ford So  2004  580.07              26
658  04ELPV2                Nokia Lumia 530  2001  914.66              16
659  29BXSG5                        BMW Hiv  2002  192.76              17

[660 rows x 5 columns]

In [7]:
fake_company.MakeFakeTransactions(

        fake_company.MakeFakeInventory()["As_DataFrame"],
        fake_company.MakeFakeCustomers()["As_DataFrame"] 

)

,Transaction ID,Product Sold,Product ID,Customer ID,Customer Name,Customer Address,Card Number,Card Provider,Payment,Quantity Sold,Payment Date
185,0-00-156435-8,Intel® Iris™ Graphics 550,84KYQO7,7974,Jodi Waters,"611 Rachael Springs Apt. 331, New Cody, KY 41516",3703 419206 42089,MasterCard,931.14,1.0,10/16/2020
30,0-00-268560-4,Volvo L25B,45TGUT6,8408,Charles Stephens,"763 Melissa Knolls, New Jasonland, KY 42153",3750 219790 85506,Visa,491.75,4.0,07/19/2022
105,0-00-330430-2,Lancia Feeding,19AYMM5,8368,David Small,"271 Travis Place, Port Jessicafort, KY 40110",2425 1205 4529 0446,Chase,576.19,4.0,04/03/2020
86,0-02-313726-6,Infiniti Cooperative,GB92BDZ,1634,Jeanette Adams,"53329 Amber Valleys Apt. 811, East Miguelland,...",4582 0239 5972 0566,MasterCard,845.51,3.0,11/25/2020
164,0-04-841030-6,NVIDIA GeForce GTX 980M,B50BKND,4257,Sarah Payne,"718 Reed Park Suite 400, Amyville, KY 40049",4173 6034 5008 8301,Discover,784.24,1.0,02/10/2022
...,...,...,...,...,...,...,...,...,...,...,...
282,1-9776-7424-0,Nokia Lumia 925,GB40ZQG,6890,Jonathon Perez,"089 Daniel Wells Suite 112, Lake Matthew, KY 4...",5182 7294 8974 8890,Chase,500.80,1.0,08/06/2022
122,1-9810-0028-3,BlackBerry 10 Leap,79DFKM9,2451,Dale Gardner,"98276 Sanchez Drive Apt. 279, East Miguelland,...",2396 3628 0885 2919,Visa,102.32,1.0,06/15/2022
149,1-994235-34-9,JCB Highlight Grand (Harvester),GB29VSF,8399,Lori Jones,"364 Debra Walks Apt. 553, Vernon Hills, KY 42153",4177 7078 2557 1663,MasterCard,220.82,4.0,08/25/2020
11,1-994366-45-1,BlackBerry 10 Z30,GB08WBY,2900,Jennifer Hernandez,"0704 Graves Roads, North Catherinefurt, KY 41622",4023 3260 0889 4382,Discover,1049.52,1.0,09/26/2021
272,1-995551-97-X,NVIDIA GeForce GTX 1070,48SMVV2,9476,Ronnie Mcmahon,"9969 Kenneth Road, DeSoto, KY 41654",3746 842763 34280,Visa,312.83,2.0,09/09/2020